[Desktop Entry]
Name=Arch-Sysup
Comment=Arch Linux System Manager
Exec=/usr/bin/arch-sysup
Icon=arch-sysup
Terminal=false
Type=Application
Categories=System;
StartupNotify=true
